################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.tlog
*.obj
*.pdb
*.idb
*.log
*.pch
*.ipch
*.suo
*.db
*.db-shm
*.db-wal
*.opendb
*.lock
*.user
*.recipe
*.exe
*.FileListAbsolute.txt
UpgradeLog*.htm
*.sbr
#*.lib
*.bsc
*.ini
*.w
*.ilk
*.zip


*/.vs/
/.vs
**/Debug/

# Jade binary content
*.bf
*.ofc
*.omd
*.ova
*.pp
*.fce

/Output/Tmp
/P4Log.txt
/Main/enc_temp_folder
*.aps
/Output/Libs
