################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.tlog
*.obj
*.pdb
*.idb
*.log
*.pch
*.ipch
*.suo
*.db
*.db-shm
*.db-wal
*.opendb
*.lock
*.user
*.recipe
*.exe
*.FileListAbsolute.txt
UpgradeLog.htm
*.sbr
*.lib
*.bsc
*.ini
*.w

# Jade binary content
*.ofc
*.omd
*.ova
*.pp
*.fce

*/.vs/
/Output/Tmp
/P4Log.txt
/Main/enc_temp_folder
