################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.tlog
*.obj
*.pdb
*.idb
*.log
*.pch
*.ipch
*.suo
*.db
*.db-shm
*.db-wal
*.opendb
*.lock
*.user
*.recipe
*.FileListAbsolute.txt
UpgradeLog*.htm
*.sbr
#*.lib
*.bsc
*.ini
*.w
*.ilk

# Package formats
*.zip
*.7z

# Compiled outputs
*.exe
*dll

*/.vs/
/.vs
**/Debug/

# Jade binary content
*.bf
*.ofc
*.omd
*.ova
*.pp
*.fce

/Output/

/P4Log.txt
/Main/enc_temp_folder
*.aps
*.tga
*.bin
